 <!-- Top Navigation Bar -->
  <div class="navbar">
    <div class="logo">Node js Login</div>
    <div class="menu">
      <a href="/profile">Home</a>
      <a href="/">Profile</a>
    </div>
  </div>

  </div>