<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js tutorial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
 
 {{!-- we can call the navbar here from the common place --}}
 {{>navbar }} 

  <!-- Login Form Centered -->
  <div class="login-container">
     
    <h4>Welcome to home page</h4>

  </div>

</body>
</html>