<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js tutorial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Top Navigation Bar -->
  <div class="navbar">
    <div class="logo">MyApp</div>
    <div class="menu">
      <a href="/profile">Home</a>
      <a href="/">Profile</a>
    </div>
  </div>

  <!-- Login Form Centered -->
  <div class="login-container">
    <div class="login-box">
      <h2>User Registeration</h2>
      <form action="/login" method="POST">.


    <input type="name" name="name" placeholder="Full name" required>

        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
      
              <input type="password" name="password" placeholder="Confirm Password" required>

      
        <button type="submit">Register</button>

      
        <div class="signup-link">Already a member?
            <a href="/">Login now</a>
        </div>

      </form>
    </div>
  </div>

</body>
</html>