<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js tutorial</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

{{!-- calling the navbar --}}
   {{>navbar }}


  <!-- Login Form Centered -->
  <div class="login-container">
    <div class="login-box">
      <h2>User Registeration</h2>

{{!-- it is like ngif in the angular --}}
      {{#if msg}}
      <p>{{msg}}</p>
      {{/if}}

      <form action="/auth/registeration" method="POST">

      {{!-- when we click the register button,the /auth/registeration should get linked
      so for that create a file "auth.js" inside the routes folder --}}


    <input type="name" name="name" id="name" placeholder="Full name" required>

        <input type="email" name="email" id="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>

<input type="password" id="confirm_pass" name="confirm_pass" placeholder="Confirm Password" required>


        <button type="submit">Register</button>


        <div class="signup-link">Already a member?
            <a href="/">Login now</a>
        </div>

      </form>
    </div>
  </div>

</body>
</html>